.preview-content {
    position: relative;
    width: 100%;
    z-index: 15;

    &__title {
        font-size: 44px;
        line-height: 65px;
        font-weight: 200;
        color: $white;
    }

    &__text {
        max-width: 800px;
        margin: auto;
    }
}

.preview {
    & .title-ribbon {
        @media (max-width: 768px) {
            width: 90%;
        }
    }
}