.showreel-content {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    z-index: 15;

    &__title {
        font-size: 44px;
        line-height: 65px;
        font-weight: 200;
        color: $white;
    }

    &__video {
        width: 100%;
        height: 500px;

        @media (max-width: 900px) {
            height: 415px;
        }
        
        @media (max-width: 512px) {
            height: 260px;
        }
    }
}

.section.showreel {
    @media (max-width: 768px) {
        border-bottom: 1px solid rgba(0, 0, 0, .10);
    }
}