.showreel-content {
    position: relative;
    flex: 0 0 100%;
    width: 100%;
    z-index: 15;

    &__title {
        font-size: 44px;
        line-height: 65px;
        font-weight: 200;
        color: $white;
    }
}