.story-item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 spacer(2);

    &__preview {
        width: 100%;
        margin-bottom: spacer(4);
    }

    &__result {
        width: 100%
    }
}