<section id="about-of-company" class="section section--dark section--auto-height about-of-company">
    <div class="section__content">
        <div class="container">
            <div class="title-ribbon title-ribbon--white title-ribbon--short title-ribbon--right">
                <h2 class="title-ribbon__title">
                    ТЕКСТ О КОМПАНИИ
                </h2>
                <span class="title-ribbon__bg"></span>
                <span class="title-ribbon__shadow"></span>
            </div>
            <div class="section__text">
                <div class="about-of-company">
                    <p>Данный текст, я составил при помощи сайта "hh.kz". 
                        Я полистал описание разных компаний и от каждой отобрал по несколько предложений. 
                        Все описания были равно бессмысленны, как и это. 
                        Попробуйте вместо белых вставок подставить любую компанию 
                        и род деятельности - ничего не изменится.</p>
                    <p>Наша компания была основана в 2010 году и с этого дня мы непрерывно развиваемся 
                        в сфере <span style="text-decoration: line-through;">наружной рекламы</span>. 
                        Мы, многолетняя компания с колоссальным опытом. 
                        Вот уже много лет, Мы №1 в Казахстане! И не раз подтверждали это на деле. 
                        Мы - те, кто с удовольствием делает свою работу. 
                        Наша компания имеет огромный опыт по 
                        <span style="text-decoration: line-through;">производству и монтажу наружной рекламы</span> 
                        в Алматы и по Казахстану. Мы являемся надежным партнером таких компаний как: 
                        \Beeline, Газпром, Jusan bank, Sulpak, Magnum.</p>
                    <p>Наша цель - сделать мир лучше, путем развития нашей компании и 
                        ее продвижения Попробуйте сами и убедитесь в качестве нашего продукта!</p>  
                    <p>Далее я укажу пример как можно переделать текст о компании, 
                        что бы он нравился и был полезен читателю</p>
                </div>    
            </div>
        </div>
    </div>
</section>

<section id="about-of-company__two" class="section section--beige section--auto-height about-of-company__two">
    <div class="section__content">
        <div class="container">
            <div class="title-ribbon title-ribbon--white title-ribbon--short">
                <h2 class="title-ribbon__title">
                    ТЕКСТ О КОМПАНИИ
                </h2>
                <span class="title-ribbon__bg"></span>
                <span class="title-ribbon__shadow"></span>
            </div>
            <div class="section__text">
                <div class="about-of-company">
                    <p>Мы занимаемся наружной рекламой с 2010 года, за это время мы реализовали: 
                        1230 рекламных баннера; 2500 вывесок; Оформили 640 офисов.</p>
                    <p>Мы тщательно подходим к заказам наших клиентов. 
                        Наши дизайнеры создадут и утвердят нужный вам KV. 
                        Если у вас уже есть готовый, мы с радостью примем ваш материал. 
                        Утвердим места размещения. Возьмем на себя утверждение рекламной вывески 
                        в городском управлении.</p>
                    <p>Наши специалисты, выезжают на место и демонтируют старые вывески и приводят площадку 
                        в надлежащее состояние. Демонтируемый материал, сортируется и отправляется на переработку. 
                        Для монтажа новых вывесок, баннеров, мы используем крепежные материалы, которые заранее 
                        заказываем из США, для того чтобы никакая случайно отпавшая буква не изменила смысл 
                        вашей рекламы.</p>
                    <p>Наша цель - это чтобы клиент попробовав однажды, вернулся к нам снова.</p>
                    <p>Если вы нашли цену дешевле, сообщите об этом нам 
                        и мы подготовим для вас выгодное предложение!</p>
                    <p><i>
                        *вся информация о компаниях выдумана
                    </i></p>
                </div>    
            </div>
        </div>
    </div>
</section>