<section id="creatives" class="section section--beige section--auto-height creatives">
    <div class="section__content">
        <div class="container">
            <div class="title-ribbon title-ribbon--short">
                <h2 class="title-ribbon__title">
                    КРЕАТИВЫ
                </h2>
                <span class="title-ribbon__bg"></span>
                <span class="title-ribbon__shadow"></span>
            </div>
            <div class="section__text">
                <p>Постоянно тренировал свой навык создания креативных, 
                   визуальных составляющих в СММ маркетинге, придумывая креативы для авиатурагентства</p>
                <div class="creatives__carousel creatives-carousel swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide creatives-carousel__item">
                            <a 
                                href="assets/img/creativites/1.jpeg" 
                                class="creatives-carousel__link" 
                                data-fslightbox="first-lightbox"
                            >
                                <img 
                                    class="creatives-carousel__img"
                                    src="assets/img/creativites/1.jpeg" 
                                    alt=""
                                >
                            </a>
                        </div>
                        <div class="swiper-slide creatives-carousel__item">
                            <a 
                                href="assets/img/creativites/2.jpeg" 
                                class="creatives-carousel__link" 
                                data-fslightbox="first-lightbox"
                            >
                                <img 
                                    class="creatives-carousel__img"
                                    src="assets/img/creativites/2.jpeg" 
                                    alt=""
                                >
                            </a>
                        </div>
                        <div class="swiper-slide creatives-carousel__item">
                            <a 
                                href="assets/img/creativites/3.jpeg" 
                                class="creatives-carousel__link" 
                                data-fslightbox="first-lightbox"
                            >
                                <img 
                                    class="creatives-carousel__img"
                                    src="assets/img/creativites/3.jpeg" 
                                    alt=""
                                >
                            </a>
                        </div>
                        <div class="swiper-slide creatives-carousel__item">
                            <a 
                                href="assets/img/creativites/4.jpeg" 
                                class="creatives-carousel__link" 
                                data-fslightbox="first-lightbox"
                            >
                                <img 
                                    class="creatives-carousel__img"
                                    src="assets/img/creativites/4.jpeg" 
                                    alt=""
                                >
                            </a>
                        </div>
                        <div class="swiper-slide creatives-carousel__item">
                            <a 
                                href="assets/img/creativites/5.jpeg" 
                                class="creatives-carousel__link" 
                                data-fslightbox="first-lightbox"
                            >
                                <img 
                                    class="creatives-carousel__img"
                                    src="assets/img/creativites/5.jpeg" 
                                    alt=""
                                >
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>