<section id="divine-signal" class="section section--beige section--auto-height divine-signal">
    <div class="section__content">
        <div class="container">
            <div class="title-ribbon title-ribbon--short title-ribbon--right">
                <h2 class="title-ribbon__title">
                    "БОЖЕСТВЕННЫЙ СИГНАЛ"
                </h2>
                <span class="title-ribbon__bg"></span>
                <span class="title-ribbon__shadow"></span>
            </div>
            <div class="section__text">
                <h3 class="divine-signal__content">НЕБОЛЬШАЯ ИСТОРИЯ С БОЖЕСТВЕННОЙ ТЕМАТИКОЙ, В ЖАНРЕ КОМЕДИИ</h3>
                
                <div class="divine-signal__audio-block">
                    <audio>
                        <source src="https://cms.abpx.kz/storage/uploads/2022/04/20/62606334584c258d47e_e5aed1fc77894977a8b20b21c6f67c58.mp3" type="audio/mpeg">
                    </audio>
                </div>

                <p class="divine-signal__content divine-signal__content--copyright">СЦЕНАРИЙ ЭТОЙ АУДИОИСТОРИИ БЫЛ НАПИСАН КАК ТЕСТОВОЕ ЗАДАНИЕ. А ЗАПИСАН БЫЛ СПЕЦИАЛЬНО, С ЦЕЛЬЮ РАЗВЛЕЧЕНИЯ ГОСТЯ МОЕГО ПОРТФОЛИО</p>
                
                <div class="divine-signal__content-footer">
                    <p class="divine-signal__content divine-signal__content--yellow divine-signal__content--left">
                        ДАННАЯ ИСТОРИЯ, НЕ НЕСЕТ В СЕБЕ ЦЕЛЬ КОГО-ТО ОСКОРБИТЬ ИЛИ ЗАДЕТЬ ЧЬИ ТО ЧУВСТВА. ВСЕ ПЕРСОНАЖИ ВЫДУМАНЫ ИЛИ НАХОДЯТСЯ ВНЕ ЗОНЫ ДЕЙСТВИЯ СЕТИ</p>
                    
                    <img class="divine-signal__img" src="assets/img/creativites/divine-signal.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

 