<footer class="main-footer">
    <div class="container">
        <h2 class="main-footer__title">
            Контакты
        </h2>
        <ul class="main-footer__contacts footer-contacts">
            <li class="footer-contacts__item"><span>Almaty</span></li>
            <li class="footer-contacts__item"><a target="_blank" href="https://wa.me/qr/5ULH3ZDD7DKLG1">https://wa.me/qr/5ULH3ZDD7DKLG1</a></li>
            <li class="footer-contacts__item"><a target="_blank" href="https://www.instagram.com/tolik.iskandarov">https://www.instagram.com/tolik.iskandarov</a></li>
            <li class="footer-contacts__item"><a target="_blank" href="https://t.me/tolik_iskandarov​​">https://t.me/tolik_iskandarov​​</a></li>
            <li class="footer-contacts__item"><a target="_blank" href="mailto:tolik.iskandarov98@gmail.com">tolik.iskandarov98@gmail.com</a></li>
            <li class="footer-contacts__item"><a target="_blank" href="tel:87715024504">87715024504</a></li>
            <li class="footer-contacts__item"><span>ISKANDAROV ANATOLY</span></li>
        </ul>
        <span class="main-footer__copyright">
            ©2022 by iskandarov ἀνατολικός.
        </span>
    </div>
</footer>