<section id="graduation-project" class="section section--auto-height section--dark">
    <div class="section__content">
        <div class="container">
            <div class="title-ribbon title-ribbon--short title-ribbon--center">
                <h2 class="title-ribbon__title">
                    МОЙ ДИПЛОМНЫЙ ПРОЕКТ
                </h2>
                <span class="title-ribbon__bg"></span>
                <span class="title-ribbon__shadow"></span>
                <span class="title-ribbon__shadow title-ribbon__shadow--left"></span>
            </div>

            <div class="my-project__content">
                <h2 class="my-project__sub-title">
                    "Я ВСЕ ЕЩЕ ЗДЕСЬ"
                </h2>
                <div class="my-project__afisha">
                    <span class="my-project__title-en">I'm<br>steel<br>here</span>
                    <span class="my-project__title-year">2<br>0<br>2<br>1</span>
                    <img src="https://static.wixstatic.com/media/58d47e_b67c026e13924d2098061b8be00afd90~mv2.png/v1/fill/w_800,h_1200,al_c,q_90,enc_auto/%D1%8F%20%D0%B2%D1%81%D0%B5%20%D0%B5%D1%89%D0%B5%20%D0%B7%D0%B4%D0%B5%D1%81%D1%8C%20(1).png" alt="">
                </div>
                <div class="my-project__description">
                    После окончания школы никто не сомневался, что герой поступит в театральный вуз, станет актером и раскроет свой талант на сто процентов. Но его родители убеждены, что на жизнь это ему не заработает. Поэтому ему приходится искать работу и забыть о творческом будущем.
                </div>
                <div class="my-project__film">
                    <div class="showreel-content__text">
                        <iframe width="100%" height="450px" src="https://www.youtube-nocookie.com/embed/JX6ZgXjQmS0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" controls="0" allowfullscreen></iframe>
                    </div>
                </div>
                <div class="my-project__description">
                    <p>Фильм старается выразить проблемы выбора профессий, связанных с творчеством.</p>
                    <p>Сценарий старается не выходит за рамки действий и развития персонажа, так же, старается быть органичным и оправданным.</p>
                    <p>Композиция и атмосфера фильма выражена так, чтобы зрители попытались поставить себя на место главного героя, который пытается определиться и успевает посмотреть на жизнь с разных сторон. Концовка фильма остается открытой, каждый зритель должен определить ее для себя сам.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about-my-project" class="section section--auto-height section--beige about-project">
    <div class="section__content">
        <div class="container">
            <div class="title-ribbon title-ribbon--short title-ribbon--left">
                <h2 class="title-ribbon__title">
                    Галерея
                </h2>
                <span class="title-ribbon__bg"></span>
                <span class="title-ribbon__shadow"></span>
            </div>
            <div class="about-project__slides">
                <div class="about-project__carousel about-project-carousel swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide about-project-carousel__item">
                            <a 
                                href="https://static.wixstatic.com/media/58d47e_a77f05cc72a34411a3b34feec352424e~mv2.jpg/v1/fill/w_690,h_508,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/photo_2022-03-09_15-10-13.jpg" 
                                class="about-project-carousel__link" 
                                data-fslightbox="second-lightbox"
                            >
                                <img 
                                    class="about-project-carousel__img"
                                    src="https://static.wixstatic.com/media/58d47e_a77f05cc72a34411a3b34feec352424e~mv2.jpg/v1/fill/w_690,h_508,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/photo_2022-03-09_15-10-13.jpg" 
                                    alt=""
                                >
                            </a>
                        </div>
                        <div class="swiper-slide about-project-carousel__item">
                            <a 
                                href="https://static.wixstatic.com/media/58d47e_5494ede3fe7d432f905616247b5b7a81~mv2.jpg/v1/fill/w_658,h_486,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/photo_2022-03-09_15-07-59.jpg" 
                                class="about-project-carousel__link" 
                                data-fslightbox="second-lightbox"
                            >
                                <img 
                                    class="about-project-carousel__img"
                                    src="https://static.wixstatic.com/media/58d47e_5494ede3fe7d432f905616247b5b7a81~mv2.jpg/v1/fill/w_658,h_486,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/photo_2022-03-09_15-07-59.jpg" 
                                    alt=""
                                >
                            </a>
                        </div>
                        <div class="swiper-slide about-project-carousel__item">
                            <a 
                                href="https://static.wixstatic.com/media/58d47e_6d6b6003bc8c46678157d23b45ae1549~mv2.jpg/v1/fill/w_442,h_600,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/photo_2022-03-09_15-08-02.jpg" 
                                class="about-project-carousel__link" 
                                data-fslightbox="second-lightbox"
                            >
                                <img 
                                    class="about-project-carousel__img"
                                    src="https://static.wixstatic.com/media/58d47e_6d6b6003bc8c46678157d23b45ae1549~mv2.jpg/v1/fill/w_442,h_600,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/photo_2022-03-09_15-08-02.jpg" 
                                    alt=""
                                >
                            </a>
                        </div>
                        <div class="swiper-slide about-project-carousel__item">
                            <a 
                                href="https://static.wixstatic.com/media/58d47e_594bd1257b8f4ba59e2d964af588b39d~mv2.jpg/v1/fill/w_448,h_610,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/photo_2022-03-09_15-07-51.jpg" 
                                class="about-project-carousel__link" 
                                data-fslightbox="second-lightbox"
                            >
                                <img 
                                    class="about-project-carousel__img"
                                    src="https://static.wixstatic.com/media/58d47e_594bd1257b8f4ba59e2d964af588b39d~mv2.jpg/v1/fill/w_448,h_610,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/photo_2022-03-09_15-07-51.jpg" 
                                    alt=""
                                >
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>