<section id="idea" class="section section--beige section--auto-height idea">
    <div class="section__content">
        <div class="container">
            <div class="title-ribbon title-ribbon--short">
                <h2 class="title-ribbon__title">
                    Идея
                </h2>
                <span class="title-ribbon__bg"></span>
                <span class="title-ribbon__shadow"></span>
            </div>
            <div class="flex">
                <div class="flex__2-5 idea__image-block">
                    <img src="https://cms.abpx.kz/storage/uploads/2022/03/09/6228b0f6731d2scale_1200-1.webp" class="idea__image" alt="">
                </div>
                <div class="flex__3-5 idea__text-block">
                    <div class="idea__content">
                        <p>
                            Разработка идеи - самое важное.
                        <br>
                            Для меня, идея - это двигатель процесса. Если идея мне симпатизирует, то процесс будет идти более интересно, быстро и весело. Но это не обязательно.
                        </p>
                        <p>
                            Идея должна цеплять, поэтому, разработку идеи я начинаю с тщательного сбора информации, на нужную тему. И именно сбор информации, в своей совокупности, наводит меня на мысли и затем рождается идея
                        </p>
                        <p>
                            Но так бывает не всегда. В случае если нужно быстро что-то "скреативить", я пользуюсь своими наработками идей, и адаптирую их для нужного проекта или придумываю их на ходу.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>