<section id="preview" class="section preview vertical-slide">
    <div class="preview-content">
        <div class="container">
            <div class="title-ribbon title-ribbon--yellow">
                <p>Я режиссер. Доношу людям информацию аудиовизуальным путем. Произвожу на свет кино, рекламные ролики. Разрабатываю свежи идеи, для продвижения проектов. Управляю творческим процессом</p>
                <span class="title-ribbon__bg"></span>
                <span class="title-ribbon__shadow"></span>
            </div>
            <div class="preview-content__text">
                <p>Я 5 лет учился по профессии режиссер кино и ТВ. Имею опыт в производстве короткометражных фильмов.</p>
                <p>Начиная от разработки идеи, сценария, раскадровок, режиссерского сценария, планирование и проработка сцен, план съёмочного процесса, поиск актеров, кастинг, поиск локаций, контроль съёмочного процесса, монтаж и звуковое оформление - это все, моя работа которую я осваиваю.</p>
                <p>Внимательно отношусь к срокам. Изучаю информационный стиль текста. Люблю придумывать креативные идеи. Буду очень рад дружной и продуктивной работе в команде.</p>
            </div>
        </div>
    </div>
</section>