<section id="scenario" class="section section--dark section--auto-height scenario">
    <div class="section__content">
        <div class="container">
            <div class="title-ribbon title-ribbon--short">
                <h2 class="title-ribbon__title scenarion__title">
                    Сценарий
                </h2>
                <span class="title-ribbon__bg"></span>
                <span class="title-ribbon__shadow"></span>
            </div>
            <div class="section__text">
                <img 
                    src="https://cms.abpx.kz/storage/uploads/2022/03/10/62299b4132827photo_2022-01-24_18-08-13_edited.webp" 
                    class="scenario__img" 
                    alt=""
                >
                <p>Для того, что бы написать сценарий, я продумываю персонажей 
                    , их мотивы и цели, место действия, предметы
                    и взаимодействие персонажей с этими предметами. Главное для меня в этом деле, 
                    что бы все было органично и не уходило от цели.</p>
                <p>Я не могу знать все, поэтому я черпаю информацию в интернете и 
                    стараюсь более глубоко погрузиться в тему.</p>
                <p>Часто отталкиваюсь от личного опыта, без этого иной раз не обойтись.
                     Если мне его не хватает, я советуюсь более опытными людьми и 
                     тщательно их допрашиваю.</p>
                <p>Что бы написать сценарий я придумываю завязку и развязку, далее мои герои делают все сами. 
                    Это в идеальном случае. Если нет, то я более подробно описываю все детали и дальше двигаюсь по сюжету.</p>
            </div>
        </div>
    </div>
</section>