<section id="showreel" class="section showreel">
    <div class="showreel-content">
        <div class="container">
            <div class="title-ribbon">
                <h2 class="title-ribbon__title">
                    SHOWREEL
                </h2>
                <span class="title-ribbon__bg title-ribbon__bg--yellow"></span>
                <span class="title-ribbon__shadow"></span>
            </div>
            <div class="showreel-content__text">
                
            </div>
        </div>
    </div>
</section>