<section id="showreel" class="section section--beige showreel">
    <div class="showreel-content">
        <div class="container">
            <div class="title-ribbon title-ribbon--short">
                <h2 class="title-ribbon__title">
                    SHOWREEL
                </h2>
                <span class="title-ribbon__bg"></span>
                <span class="title-ribbon__shadow"></span>
            </div>
            <div class="showreel-content__text">
                <video width="100%" height="450px" class="video-js showreel-content__video" controls>
                    <source src="https://cms.abpx.kz/storage/uploads/2022/03/09/6228a870d2413file.mp4" type="video/mp4" />
                </video>
            </div>
        </div>
    </div>
</section>