<section id="home" class="section main-slider vertical-slide">
    <div class="main-slider__content slider-content">
        <div class="container">
            <div class="human-promo main-slider__promo">
                <img src="assets/img/images/human.webp" alt="" class="human-promo__title">
                <img src="assets/img/images/knife_5_mb.gif" alt="" class="human-promo__knife">
                <h2 class="human-promo__author">Искандаров Анатолий</h2>
            </div>
        </div>
    </div>
</section>