<section id="storyboard" class="section section--beige section--auto-height storyboard">
    <div class="section__content">
        <div class="container">
            <div class="title-ribbon title-ribbon--short">
                <h2 class="title-ribbon__title scenarion__title">
                    Раскадровки
                </h2>
                <span class="title-ribbon__bg"></span>
                <span class="title-ribbon__shadow"></span>
            </div>
            <div class="section__text">
                <p>Рисовать у меня получается скудно. Все чего я пытаюсь добиться - это понятный образ, его положение и действие в кадре, сам кадр и движение камеры.</p>
                <p>Обычно мои раскадровки выглядят так:</p>
                <div class="flex">
                    <div class="flex__1-3 story-item">
                        <img src="https://anatoly.iskandarov.kz/admin/storage/uploads/2022/06/28/image-2-1_uid_62ba83f00d50e.png" alt="" class="story-item__preview">
                        <img src="https://anatoly.iskandarov.kz/admin/storage/uploads/2022/06/28/_uid_62ba82ce790f7.png" alt="" class="story-item__result">
                    </div>
                    <div class="flex__1-3 story-item">
                        <img src="https://anatoly.iskandarov.kz/admin/storage/uploads/2022/06/28/image-1-1_uid_62ba83ef666a0.png" alt="" class="story-item__preview">
                        <img src="https://anatoly.iskandarov.kz/admin/storage/uploads/2022/06/28/e-1_uid_62ba82aa65e0a.png" alt="" class="story-item__result">
                    </div>
                    <div class="flex__1-3 story-item">
                        <img src="https://anatoly.iskandarov.kz/admin/storage/uploads/2022/06/28/image-3_uid_62ba83f10812b.png" alt="" class="story-item__preview">
                        <img src="https://anatoly.iskandarov.kz/admin/storage/uploads/2022/06/28/2_uid_62ba8289b4068.png" alt="" class="story-item__result">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>