<section id="scenario" class="section section--dark scenario">
    <div class="section__content">
        <div class="container">
            <div class="title-ribbon title-ribbon--short">
                <h2 class="title-ribbon__title scenarion__title">
                    Раскадровки
                </h2>
                <span class="title-ribbon__bg"></span>
                <span class="title-ribbon__shadow"></span>
            </div>
            <div class="section__text">
                <div class="flex">
                    <div class="flex__1-3 story-item">
                        <img src="/" alt="" class="story-item__preview">
                        <img src="/" alt="" class="story-item__result">
                    </div>
                    <div class="flex__1-3 story-item">
                        <img src="/" alt="" class="story-item__preview">
                        <img src="/" alt="" class="story-item__result">
                    </div>
                    <div class="flex__1-3 story-item">
                        <img src="/" alt="" class="story-item__preview">
                        <img src="/" alt="" class="story-item__result">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>