<section id="storyboard" class="section section--beige section--auto-height storyboard">
    <div class="section__content">
        <div class="container">
            <div class="title-ribbon title-ribbon--short">
                <h2 class="title-ribbon__title scenarion__title">
                    Раскадровки
                </h2>
                <span class="title-ribbon__bg"></span>
                <span class="title-ribbon__shadow"></span>
            </div>
            <div class="section__text">
                <p>Рисовать у меня получается скудно. Все чего я пытаюсь добиться - это понятный образ, его положение и действие в кадре, сам кадр и движение камеры.</p>
                <p>Обычно мои раскадровки выглядят так:</p>
                <div class="flex">
                    <div class="flex__1-3 story-item">
                        <img src="assets/img/image (2) (1).webp" alt="" class="story-item__preview">
                        <img src="assets/img/Безымянный.webp" alt="" class="story-item__result">
                    </div>
                    <div class="flex__1-3 story-item">
                        <img src="assets/img/image (1) (1).webp" alt="" class="story-item__preview">
                        <img src="assets/img/Безымянныйe (1).webp" alt="" class="story-item__result">
                    </div>
                    <div class="flex__1-3 story-item">
                        <img src="assets/img/image (3).webp" alt="" class="story-item__preview">
                        <img src="assets/img/токарь2.webp" alt="" class="story-item__result">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>