.title-ribbon {
  width: 80%;
  position: relative;
  padding: spacer(5) spacer(5) spacer(5);
  margin-bottom: spacer(20);
  font-size: 22px;
  line-height: 1.2; }
  @media (max-width: 900px) {
    .title-ribbon {
      font-size: 18px;
      margin-bottom: spacer(15); } }
  @media (max-width: 768px) {
    .title-ribbon {
      padding: spacer(5) spacer(5) spacer(5) spacer(0); } }
  .title-ribbon * {
    margin: 0; }
  .title-ribbon__bg {
    position: absolute;
    left: -1000px;
    top: 0;
    right: 0;
    bottom: 0;
    background: #ffde5f;
    z-index: -1; }
  .title-ribbon__shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50px;
    transform: translate(70%, 15%);
    background: #898989;
    z-index: -5; }
    .title-ribbon__shadow--left {
      left: 0;
      right: auto;
      transform: translate(-70%, 15%); }
  .title-ribbon__title {
    position: relative;
    z-index: 1;
    font-size: 44px;
    text-transform: uppercase;
    line-height: 1; }
    @media (max-width: 768px) {
      .title-ribbon__title {
        font-size: 36px;
        line-height: 1.3; } }
    @media (max-width: 376px) {
      .title-ribbon__title {
        font-size: 32px; } }
  .title-ribbon--short {
    width: auto;
    display: inline-block;
    padding-left: 0px; }
  .title-ribbon--right {
    padding-left: spacer(5); }
    .title-ribbon--right > .title-ribbon__shadow {
      right: auto;
      left: 0;
      transform: translate(-70%, 15%); }
    .title-ribbon--right > .title-ribbon__bg {
      left: 0;
      right: -1000px; }
  .title-ribbon--center {
    padding-left: spacer(5);
    padding-right: spacer(5);
    width: 100%;
    text-align: center; }
    .title-ribbon--center > .title-ribbon__bg {
      left: 0;
      right: 0; }
