@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
input,
button,
select,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
  outline: none;
  transition: box-shadow 0.24s; }
  input:focus,
  button:focus,
  select:focus,
  textarea:focus {
    box-shadow: 0 0 0 3px rgba(57, 146, 221, 0.3); }

h1, h2, h3, h4, h5, h6 {
  margin: 0px; }

a {
  color: inherit;
  text-decoration: none; }

img {
  display: block; }

html {
  overflow-x: hidden; }

body {
  line-height: 1;
  margin: 0; }

p {
  margin-top: 0; }

ol,
ul {
  list-style: none;
  padding-left: 28px; }

* {
  box-sizing: border-box; }

@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe-Regular.eot");
  src: local("Circe"), local("Circe-Regular"), url("../fonts/Circe-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Regular.woff") format("woff"), url("../fonts/Circe-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe-ExtraLight.eot");
  src: local("Circe ExtraLight"), local("Circe-ExtraLight"), url("../fonts/Circe-ExtraLight.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-ExtraLight.woff") format("woff"), url("../fonts/Circe-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe-Thin.eot");
  src: local("Circe Thin"), local("Circe-Thin"), url("../fonts/Circe-Thin.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Thin.woff") format("woff"), url("../fonts/Circe-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe-Light.eot");
  src: local("Circe Light"), local("Circe-Light"), url("../fonts/Circe-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Light.woff") format("woff"), url("../fonts/Circe-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe-Bold.eot");
  src: local("Circe Bold"), local("Circe-Bold"), url("../fonts/Circe-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-Bold.woff") format("woff"), url("../fonts/Circe-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Circe';
  src: url("../fonts/Circe-ExtraBold.eot");
  src: local("Circe ExtraBold"), local("Circe-ExtraBold"), url("../fonts/Circe-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Circe-ExtraBold.woff") format("woff"), url("../fonts/Circe-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

body {
  overflow-x: hidden;
  font-family: 'Circe';
  font-size: 22px;
  line-height: 1.4;
  color: #2C1F3D; }
  @media (max-width: 900px) {
    body {
      font-size: 18px; } }
  @media (max-width: 376px) {
    body {
      font-size: 16px; } }

.section {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background: radial-gradient(#e2e5e8, #909193); }
  @media (max-width: 900px) {
    .section {
      height: auto;
      padding: 80px 0; } }
  .section--beige {
    background: #f7f5ee; }
  .section--dark {
    background: #202020;
    color: #fff; }
  .section--auto-height {
    height: auto;
    padding: 80px 0; }
  .section__content {
    position: relative;
    width: 100%;
    z-index: 15; }

.section-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .section-title__h2 {
    font-size: 38px;
    line-height: 1.2;
    font-weight: 300;
    margin-bottom: 20px; }
    @media (max-width: 830px) {
      .section-title__h2 {
        font-size: 28px; } }
  .section-title__control {
    display: flex;
    position: relative;
    gap: 24px; }

.swiper-wrapper {
  height: auto; }

.footer-content--bottom {
  padding-top: 60px !important; }
  .footer-content--bottom > a {
    margin-left: auto; }

.container {
  max-width: 890px;
  padding: 0 16px;
  margin: 0 auto; }

.container-fluid {
  width: 100%;
  max-width: 1730px;
  padding: 0 80px;
  margin: 0 auto; }
  @media (max-width: 1050px) {
    .container-fluid {
      width: auto;
      max-width: 890px;
      padding: 0 16px; } }

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .flex__1-2 {
    flex: 0 0 auto;
    width: 50%; }
  .flex__1-3 {
    flex: 0 0 auto;
    width: calc(100% / 3); }
  .flex__5 {
    flex: 0 0 auto;
    width: calc(calc(100%/12)*5); }
  .flex__2 {
    flex: 0 0 auto;
    width: calc(calc(100%/12)*2); }
  .flex__1-4 {
    flex: 0 0 auto;
    width: calc(100%/4); }
  .flex__3-4 {
    flex: 0 0 auto;
    width: calc(calc(100%/4) * 3); }
  .flex__2-5 {
    flex: 0 0 auto;
    width: calc(calc(100%/5)*2); }
  .flex__3-5 {
    flex: 0 0 auto;
    width: calc(calc(100%/5) * 3); }
  .flex--v-center {
    align-items: center; }

.btn {
  display: inline-block;
  position: relative;
  padding: 4px 24px;
  font-size: 16px;
  line-height: 1.8;
  color: #ffffff;
  cursor: pointer;
  border-radius: 100px;
  border: 2px solid #3992DD;
  background-color: #3992DD;
  transition: 0.16s background-color, 0.16s border-color, 0.24s box-shadow;
  user-select: none; }
  .btn:hover {
    background-color: #4f9ee1;
    border-color: #4f9ee1; }
  .btn:focus, .btn:active {
    box-shadow: 0 0 0 2px rgba(57, 146, 221, 0.3); }
  .btn__circle {
    padding: 8px;
    border-color: rgba(231, 231, 231, 0.2);
    background-color: rgba(231, 231, 231, 0.2);
    box-shadow: 0px 2px 5px -3px black; }
    .btn__circle > img {
      display: block;
      transition: 0.16s transform, 0.16s box-shadow; }
    .btn__circle--active > img {
      transform: rotate(180deg); }
    .btn__circle:hover {
      background-color: rgba(231, 231, 231, 0.2);
      border-color: rgba(231, 231, 231, 0.2); }
    .btn__circle:focus, .btn__circle:active {
      background-color: rgba(231, 231, 231, 0.4);
      border-color: rgba(231, 231, 231, 0.4);
      box-shadow: 0px 0px 5px -3px black; }
  .btn--gradient {
    border: none;
    background: linear-gradient(258.99deg, #F28F17 2.49%, #FEED00 135.88%); }

.input-group {
  position: relative; }
  .input-group__input {
    width: 100%;
    padding: 8px 12px;
    font-size: 18px;
    line-height: 30px;
    border-radius: 6px;
    border: 1px solid #BDBDBD; }
    .input-group__input::placeholder {
      color: #646464; }

.input-err {
  position: absolute;
  background: #F5A014;
  padding: 8px 10px;
  left: 0;
  right: 16px;
  top: 40px;
  display: inline-flex;
  border-radius: 4px;
  margin-top: 15px;
  line-height: 1.2;
  font-size: 16px;
  width: 100%; }
  .input-err:before {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: #F5A014;
    top: -5px;
    left: 15px;
    transform: rotate(45deg); }
  @media (max-width: 830px) {
    .input-err {
      position: relative;
      top: auto; } }

.modal {
  position: relative;
  z-index: 15; }
  .modal--hidden {
    display: none; }
  .modal__dialog {
    max-width: 100%;
    width: 460px;
    position: fixed;
    z-index: 1; }
    .modal__dialog--center {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%); }
  .modal__content {
    position: relative;
    padding: 32px 40px;
    margin: 16px;
    border-radius: 12px;
    background-color: #ffffff; }
    @media (max-width: 830px) {
      .modal__content {
        padding: 24px 24px; } }
  .modal__title {
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 400;
    line-height: 1; }
  .modal__btn-close {
    position: absolute;
    padding: 8px;
    right: 16px;
    top: 16px;
    border-radius: 8px;
    cursor: pointer;
    background: none;
    border: none;
    box-shadow: none;
    outline: none; }
  .modal__icon-close {
    width: 16px;
    height: 16px; }
  .modal__shadow {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #000000;
    opacity: .7; }

.title-ribbon {
  width: 80%;
  position: relative;
  padding: 20px 20px 20px;
  margin-bottom: 80px;
  font-size: 22px;
  line-height: 1.2; }
  @media (max-width: 900px) {
    .title-ribbon {
      font-size: 18px;
      margin-bottom: 60px; } }
  @media (max-width: 768px) {
    .title-ribbon {
      padding: 20px 20px 20px 0px; } }
  .title-ribbon * {
    margin: 0; }
  .title-ribbon__bg {
    position: absolute;
    left: -1000px;
    top: 0;
    right: 0;
    bottom: 0;
    background: #ffde5f;
    z-index: -1; }
  .title-ribbon__shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50px;
    transform: translate(70%, 15%);
    background: #898989;
    z-index: -5; }
    .title-ribbon__shadow--left {
      left: 0;
      right: auto;
      transform: translate(-70%, 15%); }
  .title-ribbon__title {
    position: relative;
    z-index: 1;
    font-size: 44px;
    text-transform: uppercase;
    line-height: 1; }
    @media (max-width: 768px) {
      .title-ribbon__title {
        font-size: 36px;
        line-height: 1.3; } }
    @media (max-width: 376px) {
      .title-ribbon__title {
        font-size: 32px; } }
  .title-ribbon--short {
    width: auto;
    display: inline-block;
    padding-left: 0px; }
  .title-ribbon--right {
    padding-left: 20px; }
    .title-ribbon--right > .title-ribbon__shadow {
      right: auto;
      left: 0;
      transform: translate(-70%, 15%); }
    .title-ribbon--right > .title-ribbon__bg {
      left: 0;
      right: -1000px; }
  .title-ribbon--center {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    text-align: center; }
    .title-ribbon--center > .title-ribbon__bg {
      left: 0;
      right: 0; }

.main-slider__content {
  margin-top: auto;
  margin-bottom: 60px; }

@media (max-width: 768px) {
  .main-slider {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); } }

.slider-content {
  position: relative;
  width: 100%;
  z-index: 15; }
  .slider-content__title {
    font-size: 44px;
    line-height: 65px;
    font-weight: 200;
    color: #ffffff; }

.human-promo {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  padding: 80px 0; }
  @media (max-width: 512px) {
    .human-promo {
      padding: 16px 0; } }
  .human-promo__title {
    max-width: 100%;
    margin-bottom: 28px; }
    @media (max-width: 900px) {
      .human-promo__title {
        max-width: 400px; } }
  .human-promo__knife {
    max-width: 415px;
    transform: rotate(-80deg);
    margin-right: 6rem; }
    @media (max-width: 900px) {
      .human-promo__knife {
        max-width: 300px; } }
    @media (max-width: 512px) {
      .human-promo__knife {
        max-width: 268px;
        margin-right: 4.5rem;
        margin-bottom: 20px; } }
  .human-promo__author {
    margin-top: auto;
    font-weight: 300; }
    @media (max-width: 900px) {
      .human-promo__author {
        font-size: 24px; } }
    @media (max-width: 512px) {
      .human-promo__author {
        font-size: 22px; } }

.preview-content {
  position: relative;
  width: 100%;
  z-index: 15; }
  .preview-content__title {
    font-size: 44px;
    line-height: 65px;
    font-weight: 200;
    color: #ffffff; }
  .preview-content__text {
    max-width: 800px;
    margin: auto; }

@media (max-width: 768px) {
  .preview .title-ribbon {
    width: 90%; } }

.showreel-content {
  position: relative;
  flex: 0 0 100%;
  width: 100%;
  z-index: 15; }
  .showreel-content__title {
    font-size: 44px;
    line-height: 65px;
    font-weight: 200;
    color: #ffffff; }
  .showreel-content__video {
    width: 100%;
    height: 500px; }
    @media (max-width: 900px) {
      .showreel-content__video {
        height: 415px; } }
    @media (max-width: 512px) {
      .showreel-content__video {
        height: 260px; } }

@media (max-width: 768px) {
  .section.showreel {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); } }

.idea__content {
  margin-top: -150px; }
  .idea__content > p:last-child {
    margin-bottom: 0; }
  @media (max-width: 900px) {
    .idea__content {
      margin-top: 0px; } }
  @media (max-width: 512px) {
    .idea__content {
      font-weight: 500; } }

.idea__image-block {
  position: relative; }
  @media (max-width: 900px) {
    .idea__image-block {
      width: 100%;
      flex: 0 0 100%;
      margin-bottom: 40px; } }

@media (max-width: 900px) {
  .idea__text-block {
    width: 100%;
    flex: 0 0 100%; } }

.idea__image {
  position: absolute;
  right: 20px;
  bottom: 0px; }
  @media (max-width: 900px) {
    .idea__image {
      position: relative;
      right: auto;
      width: 100%; } }

.scenarion__title {
  color: #333; }

.scenario__img {
  width: 586px;
  position: absolute;
  left: 50%;
  top: -124px; }
  @media (max-width: 900px) {
    .scenario__img {
      position: relative;
      left: 0px;
      top: 0px;
      width: 100%;
      margin-bottom: 40px; } }

@media (max-width: 512px) {
  .storyboard {
    padding-bottom: 0; } }

.story-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 8px; }
  .story-item__preview {
    width: 100%;
    margin-bottom: 16px; }
    @media (max-width: 512px) {
      .story-item__preview {
        width: 55%;
        margin-bottom: -40px;
        margin-right: auto;
        z-index: 99; } }
  .story-item__result {
    width: 100%; }
  @media (max-width: 512px) {
    .story-item {
      width: 100%; }
      .story-item:not(:last-child) {
        margin-bottom: 40px; } }

@media (max-width: 512px) {
  .creatives {
    padding-bottom: 0; } }

.creatives-carousel {
  overflow: visible; }
  .creatives-carousel__item {
    overflow: hidden;
    border-radius: 8px; }
  .creatives-carousel__item.swiper-slide-active > .creatives-carousel__link::before {
    opacity: 0; }
  .creatives-carousel__link::before {
    content: '';
    position: absolute;
    opacity: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 6;
    transition: opacity 0.24s;
    background: rgba(247, 245, 238, 0.6); }
  .creatives-carousel__img {
    width: 100%; }

.divine-signal {
  padding-bottom: 0px; }
  .divine-signal__content {
    text-align: center;
    font-size: 20px; }
    .divine-signal__content--left {
      flex: 0 0 70%;
      font-weight: 600;
      text-align: left;
      color: #f1ca36; }
      @media (max-width: 520px) {
        .divine-signal__content--left {
          text-align: center; } }
    .divine-signal__content--right {
      flex: 0 0 30%; }
      .divine-signal__content--right img {
        display: block; }
    .divine-signal__content--copyright {
      font-size: 16px;
      clear: #f23838; }
  .divine-signal__content-footer {
    display: flex;
    align-items: center; }
    @media (max-width: 520px) {
      .divine-signal__content-footer {
        flex-direction: column; } }
  .divine-signal__audio-block {
    margin: 32px 0; }

.divine-signal__audio-block.green-audio-player {
  width: 100%; }

.divine-signal__audio-block.green-audio-player .slider .gap-progress .pin {
  background: #202020; }

.divine-signal__audio-block .green-audio-player .volume .volume__button.open path {
  fill: #ffde5f !important; }

.green-audio-player img, .green-audio-player svg {
  height: 18px !important; }

.green-audio-player .slider .gap-progress {
  background-color: #f1ca36 !important; }

.green-audio-player .volume .volume__button.open path {
  fill: #f1ca36 !important; }

.about-of-company .title-ribbon__title {
  color: #2C1F3D; }

.about-of-company span[style="text-decoration: line-through;"] {
  background: #fff;
  color: #333;
  padding: 0 10px;
  line-height: 1;
  user-select: none; }

.my-project__content {
  width: 100%; }

.my-project__sub-title {
  color: #ffde5f;
  text-align: center;
  margin-bottom: 40px;
  font-size: 44px;
  font-weight: 600; }

.my-project__afisha {
  text-align: center;
  position: relative; }
  .my-project__afisha > img {
    display: inline-block;
    max-width: 100%; }

.my-project__title-en {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-27%, -50%);
  font-size: 84px;
  line-height: 1.2;
  font-family: 'Bebas Neue', cursive;
  color: #ffde5f; }
  @media (max-width: 768px) {
    .my-project__title-en {
      transform: translate(20px, -50%); } }
  @media (max-width: 512px) {
    .my-project__title-en {
      font-size: 56px; } }

.my-project__title-year {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(-20%, -50%);
  font-size: 84px;
  line-height: 1.2;
  font-family: 'Bebas Neue', cursive;
  color: #ffffff; }
  @media (max-width: 512px) {
    .my-project__title-year {
      transform: translate(-20px, -50%);
      font-size: 56px; } }

.my-project__description {
  text-align: center;
  padding: 60px 20px 0px 20px;
  text-align: center; }
  @media (max-width: 512px) {
    .my-project__description {
      padding: 60px 0px 0px 0px; } }

.my-project__film {
  padding: 60px 20px 0px 20px; }
  @media (max-width: 512px) {
    .my-project__film {
      padding: 60px 0px 0px 0px; } }

#graduation-project .title-ribbon__title {
  color: #333; }

#graduation-project .title-ribbon {
  margin-bottom: 48px; }

.about-project-carousel {
  overflow: visible; }
  .about-project-carousel__item {
    overflow: hidden;
    border-radius: 8px;
    width: auto; }
  .about-project-carousel__item.swiper-slide-active > .about-project-carousel__link::before {
    opacity: 0; }
  .about-project-carousel__link::before {
    content: '';
    position: absolute;
    opacity: 1;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 6;
    transition: opacity 0.24s;
    background: rgba(247, 245, 238, 0.6); }
    @media (max-width: 512px) {
      .about-project-carousel__link::before {
        display: none; } }
  .about-project-carousel__img {
    height: 310px; }
    @media (max-width: 512px) {
      .about-project-carousel__img {
        height: 240px; } }

.main-footer {
  border-top: 3px solid #202020;
  padding: 80px 0 40px 0;
  background: #f7f5ee; }
  .main-footer__title {
    position: relative;
    z-index: 1;
    font-size: 64px;
    color: #202020;
    text-transform: uppercase;
    line-height: 0.8;
    margin-bottom: 56px;
    text-align: center; }
    @media (max-width: 512px) {
      .main-footer__title {
        font-size: 48px; } }
  .main-footer__copyright {
    padding-top: 40px;
    font-size: 16px;
    display: block;
    text-align: center; }

.footer-contacts {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 24px;
  padding: 0;
  font-weight: 500;
  font-size: 20px; }
  @media (max-width: 512px) {
    .footer-contacts {
      font-size: 16px; } }
  .footer-contacts__item a {
    text-decoration: underline; }

@supports (-webkit-touch-callout: none) {
  .callback-h {
    background-attachment: inherit; } }
