@media (max-width: 512px) {
  .storyboard {
    padding-bottom: 0; } }

.story-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 spacer(2); }
  .story-item__preview {
    width: 100%;
    margin-bottom: spacer(4); }
    @media (max-width: 512px) {
      .story-item__preview {
        width: 55%;
        margin-bottom: -40px;
        margin-right: auto;
        z-index: 99; } }
  .story-item__result {
    width: 100%; }
  @media (max-width: 512px) {
    .story-item {
      width: 100%; }
      .story-item:not(:last-child) {
        margin-bottom: spacer(10); } }
